@use '../abstracts' as *;

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	font-family: 'Inter', Arial, sans-serif;
	background: var(--bg);
	color: var(--textColor);
	line-height: 1.5;
	font-size: 16px;
}

@-moz-document url-prefix() {
	body {
		font-weight: lighter !important;
	}
}

.app {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem 1rem;
}