// Merriweather Serif
@font-face {
  font-family: 'Merriweather-Light';
  src: url('../fonts/Merriweather-Light.woff2') format('woff2'),
    url('../fonts/Merriweather-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-LightItalic';
  src: url('../fonts/Merriweather-LightItalic.woff2') format('woff2'),
    url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../fonts/Merriweather-Regular.woff2') format('woff2'),
    url('../fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Italic';
  src: url('../fonts/Merriweather-Italic.woff2') format('woff2'),
    url('../fonts/Merriweather-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
    url('../fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-BoldItalic';
  src: url('../fonts/Merriweather-BoldItalic.woff2') format('woff2'),
    url('../fonts/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Merriweather Sans Variable
@font-face {
  font-family: 'Merriweather-Sans';
  src: url('../fonts/MerriweatherSans-VariableFont_wght.woff2') format('woff2'),
    url('../fonts/MerriweatherSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather-SansItalic';
  src: url('../fonts/MerriweatherSans-Italic-VariableFont_wght.woff2') format('woff2'),
    url('../fonts/MerriweatherSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}