// Victor Mono Variable
@font-face {
	font-family: 'VictorMono';
	src: url('../fonts/VictorMono-VariableFont_wght.woff2') format('woff2'),
		url('../fonts/VictorMono-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'VictorMonoItalic';
	src: url('../fonts/VictorMono-Italic-VariableFont_wght.woff2') format('woff2'),
		url('../fonts/VictorMono-Italic-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
}