// CUSTOM PROPERTIES
:root {
	--primary: #4f46e5;
	--primaryDark: #3730a3;
	--accent: #f1a863;
	--accentDark: #d89641;
	--bg: #f7f7fa;
	--bgPrimary: #f0f0f5;
	--border: #e0e7ff;
	--inputBg: #f0f0f5;
	--textColor: #222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #5457e0;
		--primaryDark: #3730a3;
		--accent: #f1a863;
		--accentDark: #d89641;
		--bg: #23232a;
		--bgPrimary: #18181b;
		--border: #27272a;
		--inputBg: #27272a;
		--textColor: #fff;
	}
}


// Estilos base para la app
body {
	font-family: 'Inter', Arial, sans-serif;
	background: var(--bg);
	color: var(--textColor);
	line-height: 1.5;
	font-size: 16px;
	margin: 0;
}

.app {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem 1rem;
}

h1,
h2,
h3 {
	font-weight: 600;
	color: var(--textColor);
}

.btn {
	background: var(--primary);
	color: var(--textColor);
	border: none;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background 0.2s;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background: var(--primaryDark);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.search {
	margin-block: 1rem;
}

input[type="search"] {
	background: var(--inputBg);
	color: var(--textColor);
	border: 1px solid var(--border);
	border-radius: 0.25rem;
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	transition: border 0.2s;

	&:focus {
		outline: none;
		border-color: var(--primary);
	}
}

.songs {
	margin-block: 1rem;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;

		h2 {
			font-size: 1.5rem;
			margin: 0;
		}

		.btn {
			margin-left: auto;
		}
	}

	&__list {
		list-style: none;
		padding: 0;

		.song {
			display: flex;
			align-items: center;
			gap: 1rem;
			background: var(--bgPrimary);
			border-radius: 0.5rem;
			padding: 0.5rem;
			margin-bottom: 0.25rem;

			&__cover {
				width: 3rem;
				height: 3rem;
				border-radius: 0.25rem;
				object-fit: cover;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&__info {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 0rem;
			}

			&__title {
				margin: 0;
			}

			&__metadata {
				opacity: 0.7;
			}

			&__actions {
				display: flex;
				gap: 8px;
				margin-left: auto;

				.btn {
					background-color: transparent;
					padding: 0.5rem;
				}
			}
		}

		.btn {
			margin-left: auto;
		}
	}
}


.queue {
	background: var(--bgPrimary);
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 1rem;
}

// Progress
.progress {
	width: 100%;
	margin: 8px 0;
}

// SongList
.queue {
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__title {
		margin: 0;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 8px;

		li {
			display: flex;
			align-items: center;
			cursor: pointer;

			&.active {
				color: var(--primary);
			}
		}

		.btn {
			margin-left: auto;
			background-color: transparent;
			padding: 0.5rem;
		}
	}

	&__actions {
		display: flex;
		gap: 8px;
		margin-block: 1rem;
		alcign-items: center;
		justify-content: center;
	}
}

.player {
	background: var(--bgPrimary);
	border-radius: 8px;
	padding: 1rem;
	display: flex;
	gap: 1rem;

	&__info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.song__title {
		font-size: 1.25rem;
		margin: 0;
	}

	.song__metadata {
		opacity: 0.7;
		margin: 0;
	}

	&__controls {
		margin-top: auto;
	}

	&__progress {
		width: 100%;
		height: 4px;
		border-radius: 0.25rem;
		accent-color: var(--primary);
	}

	&__time {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 0.875rem;
		opacity: 0.7;
		gap: 0.5rem;
	}

	&__cover {
		width: 8rem;
		height: 8rem;
		border-radius: 0.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 32px;
		object-fit: cover;
		display: block;

		&--default {
			background: #ddd;
			color: #666;
		}
	}
}