.table-container {
	display: flex;
	flex-direction: column;
	overflow-x: scroll;
}

.songs-table {

	&__row {
		&:hover {
			background-color: var(--color-row-hover);
		}
	}

	th {
		text-transform: uppercase;
		border-bottom: 1px solid var(--border);
		opacity: 0.5;
	}

	.sortable-indicator {
		display: inline-block;
		margin-inline: 0.25rem;
		opacity: 0.5;

		&:hover {
			opacity: 1;
			cursor: default
		}
	}

	th,
	td {
		padding: 0.25rem;
		text-align: left;
		white-space: nowrap;
		font-size: 80%;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}