.queue {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
	}

	&__item small {
		opacity: 0.7;
		padding-inline: 0.5rem;
	}

	&__title {
		margin: 0;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			padding-block: 0.25rem;

			&.playing {
				color: var(--accent);
			}

			&.played {
				opacity: 0.5;
			}
		}

		.btn {
			margin-left: auto;
			background-color: transparent;
			padding: 0.5rem;
		}
	}
}