.queue {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
	}

	&__item small {
		opacity: 0.7;
		padding-inline: 0.5rem;
	}

	&__title {
		margin: 0;
		font-size: 1rem;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			padding-block: 0.1rem;

			&.playing {
				color: var(--accent);
			}

			&.played {
				opacity: 0.33;
			}
		}

		.btn {
			margin-left: auto;
			background-color: transparent;
			padding: 0.5rem;
		}
	}

	&__item-content {
		cursor: grab;
		flex: 1;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: background-color 0.2s ease;

		&:active {
			cursor: grabbing;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.05);
			border-radius: 4px;
		}
	}
}