@use '../../styles/abstracts' as *;

.queue {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.5rem;
	overflow: hidden;
	max-height: 100%;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
		padding-inline: 0.5rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);

		.btn {
			color: var(--accent);
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__item small {
		opacity: 0.7;
		padding-inline: 0.5rem;
	}

	&__title {
		margin: 0;
		font-size: 0.75rem;
		letter-spacing: 0.05rem;
		font-weight: 300;
		text-transform: uppercase;
	}

	&__list {
		list-style: none;
		padding: 0 0.5rem 0 0;
		margin: 0;
		overflow-y: auto;

		li {
			display: flex;
			align-items: center;

			&.playing {
				color: var(--accent);
			}

			&.played {
				opacity: 0.33;
			}

			&:hover {
				background-color: var(--bgPrimary);
			}
		}

		.btn {
			margin-left: auto;
			background-color: transparent;
			opacity: 0.33;
		}
	}

	&__item-content {
		cursor: grab;
		flex: 1;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: background-color 0.2s ease;
		font-size: 0.85rem;
		padding: 0.25rem 0.5rem;

		&:active {
			cursor: grabbing;
		}

		span {
			font-weight: 300;
		}

		&>* {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			flex-basis: 25%;

			&:first-child {
				flex-basis: 40%;
			}

			&:last-child {
				flex-basis: 10%;
				text-align: right;
			}
		}
	}

	&__empty {
		text-align: center;
		padding: 1.5rem 1rem;
		opacity: 0.7;
		border: none !important;
		display: block !important;
	}

	&__empty-content {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		align-items: center;
	}

	&__empty-text {
		font-size: 0.9rem;
		color: var(--textMuted);
		font-weight: 500;
	}

	&__empty-subtitle {
		font-size: 0.8rem;
		color: var(--textMuted);
		opacity: 0.7;
	}
}