@use '../../styles/abstracts' as *;

.queue {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 100%;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;

		.btn {
			color: var(--accent);
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__item small {
		opacity: 0.7;
		padding-inline: 0.5rem;
	}

	&__title {
		margin: 0;
		font-size: 1rem;
	}

	&__list {
		list-style: none;
		padding: 0 1rem 0 0;
		margin: 0;
		overflow-y: auto;

		li {
			display: flex;
			align-items: center;
			padding-block: 0.25rem;

			&.playing {
				color: var(--accent);
			}

			&.played {
				opacity: 0.33;
			}

			&:hover {
				background-color: var(--bgPrimary);
			}
		}

		.btn {
			margin-left: auto;
			background-color: transparent;
			opacity: 0.33;
		}
	}

	&__item-content {
		cursor: grab;
		flex: 1;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: background-color 0.2s ease;
		font-size: 0.85rem;

		&:active {
			cursor: grabbing;
		}

		span {
			font-weight: 300;
		}
	}

	&__empty {
		text-align: center;
		padding: 1.5rem 1rem;
		opacity: 0.7;
		border: none !important;
		display: block !important;
	}

	&__empty-content {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		align-items: center;
	}

	&__empty-text {
		font-size: 0.9rem;
		color: var(--textMuted);
		font-weight: 500;
	}

	&__empty-subtitle {
		font-size: 0.8rem;
		color: var(--textMuted);
		opacity: 0.7;
	}
}