.queue {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background: var(--bgPrimary);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
	}

	&__item small {
		opacity: 0.7;
		padding-inline: 0.5rem;
	}

	&__title {
		margin: 0;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			padding-block: 0.25rem;

			&.playing {
				color: var(--primary);
			}

			&.played {
				opacity: 0.5;
			}
		}

		.btn {
			margin-left: auto;
			background-color: transparent;
			padding: 0.5rem;
		}
	}

	&__actions {
		display: flex;
		gap: 8px;
		margin-block: 1rem;
		alcign-items: center;
		justify-content: center;
	}
}