.player {
	background: var(--bgPrimary);
	border-radius: 8px;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;

	&__info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.song__title {
		font-size: 1.25rem;
		margin: 0;
	}

	.song__metadata {
		opacity: 0.7;
		margin: 0;
	}

	&__controls {
		margin-top: auto;
	}

	&__progress {
		width: 100%;
		height: 4px;
		border-radius: 0.25rem;
		accent-color: var(--primary);
	}

	&__time {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 0.875rem;
		opacity: 0.7;
		gap: 0.5rem;
	}

	&__cover {
		width: 8rem;
		height: 8rem;
		border-radius: 0.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 32px;
		object-fit: cover;

		&.default {
			background: #ddd;
			color: #666;
		}
	}

	.progress {
		width: 100%;
		margin: 8px 0;
	}
}