.albums-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
	gap: 1rem;
}

.album__cover {
	width: 8rem;
	height: 8rem;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	object-fit: cover;

	&.default {
		background: #ddd;
		color: #666;
	}
}