.albums-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
	gap: 1rem;
}

.album__cover {
	height: auto;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	object-fit: cover;

	&.default {
		background: var(--bgPrimary);
		color: var(--bg);
	}
}

.album-card__info {
	display: none;
}