.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: auto;
	padding-inline: 0.5rem;
	padding-bottom: 0.5rem;
	gap: 1rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	&__settings {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.btn {
			opacity: 0.5;
		}
	}

	&__playback {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.btn--lg {
			border-radius: 50%;
		}
	}

	&__volume {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

// .volume-knob {
// 	width: 32px;
// 	height: 32px;
// 	border-radius: 50%;
// 	border: 2px solid var(--bgPrimary);
// 	position: relative;
// 	cursor: pointer;
// 	transition: border-color 0.2s ease;

// 	&:hover {
// 		border-color: var(--accent);
// 	}

// 	&__indicator {
// 		position: absolute;
// 		top: -2px;
// 		left: 50%;
// 		width: 2px;
// 		height: 12px;
// 		background: var(--accent);
// 		transform-origin: center 14px;
// 		transition: transform 0.1s ease;
// 		margin-left: -1px;
// 	}
// }

.knob-container {
	display: flex;
	flex-direction: column;
	grid-row: span 2;
	gap: 10px;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 75px;
	height: 75px;
}

.knob-outer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 60px;
	aspect-ratio: 1;
	cursor: ns-resize;
	background: var(--knob-background);
	border-radius: 50%;
	box-shadow: var(--knob-shadow);
}

.knob-inner-shadow {
	position: absolute;
	inset: 0;
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: var(--knob-inner-shadow);
	translate: 50% 50%;
}

.knob-inner {
	position: relative;
	width: 30px;
	aspect-ratio: 1;
	background: var(--knob-inner-background);
	border-radius: 50%;
}

.knob-indicator {
	// --radius: 10px;
	// --dot: 4px;
	// position: absolute;
	// top: calc(50% - var(--dot) / 2);
	// left: calc(50% - var(--dot) / 2);
	// width: var(--dot);
	// height: var(--dot);
	// background: var(--knob-indicator-background);
	// border-radius: 50%;
	// transform-origin: center;
	// translate: calc(sin(var(--angle) * -1) * var(--radius)) calc(cos(var(--angle)) * var(--radius));

	position: absolute;
	top: -2px;
	left: 50%;
	width: 2px;
	height: 12px;
	background: var(--accent);
	transform-origin: center 16px;
	transition: transform 0.1s ease;
	margin-left: -1px;
}