.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: auto;
	gap: 1rem;

	&__settings {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.btn {
			opacity: 0.5;
		}
	}

	&__playback {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.btn--lg {
			border-radius: 50%;
		}
	}

	&__volume {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	// Buttons
	.btn-holder {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 2.75rem;
		height: 2.75rem;
		background-color: var(--button-container);
		border: 2px solid transparent;
		box-shadow: none;
		border-radius: 8px;

		&--big {
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
		}
	}

	.btn {
		padding: 0;
		border: none;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		border-radius: 6px;
		font-size: var(--x-small);
		color: var(--element);
		background-image: var(--button-background);
		box-shadow: var(--button-shadow);

		&.active {
			color: var(--accent);
			box-shadow: inset 0 1px 5px #000000e2;
			filter: brightness(.9);
			translate: 0 .5px;
		}

		&:hover {
			color: var(--accent);
		}

		&--lg {
			font-size: 1.25rem;
			padding: 0.75rem;
			border-radius: 50%;
		}
	}
}

.knob {
	&__container {
		display: flex;
		flex-direction: column;
		grid-row: span 2;
		gap: 10px;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 75px;
		height: 75px;
	}

	&__outer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 60px;
		aspect-ratio: 1;
		cursor: ns-resize;
		background: var(--knob-background);
		border-radius: 50%;
		box-shadow: var(--knob-shadow);
	}

	&__shadow {
		position: absolute;
		inset: 0;
		width: 30px;
		aspect-ratio: 1;
		border-radius: 50%;
		box-shadow: var(--knob-inner-shadow);
		translate: 50% 50%;
	}

	&__inner {
		position: relative;
		width: 30px;
		aspect-ratio: 1;
		background: var(--knob-inner-background);
		border-radius: 50%;
	}

	&__indicator {
		position: absolute;
		top: -2px;
		left: 50%;
		width: 2px;
		height: 12px;
		background: var(--accent);
		transform-origin: center 16px;
		transition: transform 0.1s ease;
		margin-left: -1px;
	}
}