@use "sass:list";

// Z-INDEX FUNCTION
// Usage: z('site-nav');
@function z($name, $z-indexes-list: $z-indexes) {
	@if list.index($z-indexes-list, $name) {
		@return (list.length($z-indexes-list) - list.index($z-indexes-list, $name))+1;
	}

	@else {
		@warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes-list}';

		@return null;
	}
}

// Stack of z-indexes
$z-indexes: (
	'overlay',
	'modal',
	'site-nav',
	'site-header',
	'site-content',
	'site-footer'
);

.scrollable {
	overflow: auto;
	scrollbar-width: thin; // Firefox si alguna vez lo abres en web
	scrollbar-color: #333 transparent;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-track {
		background: #1c1c24;
	}

	&::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, #6c5dd3, #9f7aea);
		border-radius: 8px;
		border: 2px solid #1c1c24;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #7c6df0;
	}
}