:root {
	--black: hsla(240, 4%, 11%, 0.5);
	--white: #fff;
	--element: hsl(251, 9%, 23%);
	--element-dim: hsla(247, 9%, 61%, 0.6);
	--base-color: hsl(248, 5%, 30%);
	--base-color-dim: hsla(247, 11%, 32%, 0.6);

	--gradient-start: hsl(248deg 11% 95%);
	--gradient-end: hsl(248deg 11% 88%);

	--shadow-elevation-high: 0 2px 4px rgba(0, 0, 0, 0.15);
	--shadow-elevation-medium: 0 1px 2px rgba(0, 0, 0, 0.15);
	--shadow-elevation-low: 0 0.5px 1px rgba(0, 0, 0, 0.15);

	--accent: #ca6f19;
	--accentDark: #ca6f19;
	--bg: linear-gradient(to bottom in oklab, var(--gradient-start), var(--gradient-end));
	--bgPrimary: #E7E7EB;
	--border: rgba(0, 0, 0, 0.1);
	--inputBg: rgba(0, 0, 0, 0.05);
	--textColor: #111;
	--textMuted: #4a4e57;
	--glow: 0 0 1px var(--accent), 0 0 4px var(--accent);

	--button-background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
	--button-container: hsla(240, 26%, 11%, 0.4);
	--button-rim: linear-gradient(to bottom, var(--black), var(--white));
	--button-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.9), inset 0 -1px 1px rgba(0, 0, 0, 0.66), var(--shadow-elevation-high);

	--knob-background: linear-gradient(hsl(248deg 11% 95%), hsl(248deg 11% 88%));
	--knob-inner-background: linear-gradient(hsl(248deg 11% 95%), hsl(248deg 11% 85%));
	--knob-inner-shadow: 0 -1px 0 1px hsl(0deg 0% 100%), 0 2px 2px hsl(0deg 0% 0% / 15%), var(--shadow-elevation-high);
	--knob-shadow: 0 -1px 0 1px hsl(0, 0%, 100%), 0 2px 2px hsl(0deg 0% 0% / 15%);

	--success: oklch(100% .4 150deg);
	--error: oklch(100% .4 21deg);
	--warning: rgb(255 165 0);
}

@mixin dark-theme {
	--black: #111;
	--white: #fff;
	--element: hsl(248deg 11% 85%);
	--element-dim: hsl(248deg 11% 70% / 60%);
	--base-color: hsl(248deg 11% 85%);
	--base-color-dim: hsl(248deg 11% 70% / 60%);

	--shadow-elevation-high: 0 2px 4px rgba(0, 0, 0, 0.15);
	--shadow-elevation-medium: 0 1px 2px rgba(0, 0, 0, 0.15);
	--shadow-elevation-low: 0 0.5px 1px rgba(0, 0, 0, 0.15);

	--accent: #efc442;
	--accentDark: #d89641;
	--bg: linear-gradient(to bottom in oklab, hsl(248deg 11% 15%), hsl(248deg 11% 10%));
	--bgPrimary: #1D1C23;
	--border: rgba(0, 0, 0, 0.25);
	--inputBg: rgba(0, 0, 0, 0.15);
	--textColor: #d2d2d2;
	--textMuted: #9ca3af;
	--glow: 0 0 1px var(--accent), 0 0 4px var(--accent);

	--button-background: linear-gradient(to bottom, hsl(248deg 11% 15%), hsl(248deg 11% 15%));
	--button-container: var(--black);
	--button-rim: linear-gradient(to bottom, var(--black), var(--white));
	--button-shadow: inset 0 1px 1px rgb(255 255 255 / 32.8%), inset 0 -1px 1px rgb(0 0 0 / 83.3%), var(--shadow-elevation-high);

	--knob-background: linear-gradient(hsl(248deg 11% 20%), hsl(248deg 11% 12%));
	--knob-inner-background: linear-gradient(hsl(248deg 11% 20%), hsl(248deg 11% 16%));
	--knob-inner-shadow: 0 -1px 0 1px hsl(248deg 11% 35%), 0 2px 2px hsl(0deg 0% 0% / 35%), var(--shadow-elevation-high);
	--knob-shadow: 0 -1px 0 1px hsl(248deg 11% 33%), 0 2px 2px hsl(0deg 0% 0% / 35%);

	--success: oklch(100% .4 150deg);
	--error: oklch(100% .4 21deg);
	--warning: rgb(255 165 0);
}

[data-theme='dark'] {
	@include dark-theme;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme='light']) {
		@include dark-theme;
	}
}

// Colors
$red: #FF2842;
$velvet: #5153ED;
$dark-jungle: #101828;
$american-blue: #3E3E7D;
$slate-blue: #7F56D9;

$color-neutral-100: #2E303F;
$color-neutral-90: #424242;
$color-neutral-80: #616161;
$color-neutral-70: #757575;
$color-neutral-60: #9E9E9E;
$color-neutral-50: #C2C2C2;
$color-neutral-40: #E0E0E0;
$color-neutral-30: #EDEDED;
$color-neutral-20: #F9F9F9;
$color-neutral-10: #FFFFFF;

$gradient-vertical: linear-gradient(180deg, #FF2301 0%, #FF9F84 50%, #FFB02F 75%, #2A41EA 100%);
$gradient-horizontal: linear-gradient(270deg, rgba(132, 20, 167, 0.7) 0%, rgba(84, 84, 237, 0.7) 45.5%, rgba(219, 160, 22, 0.7) 75%, rgba(255, 43, 121, 0.7) 100%);

$color-feedback-error: #F55400;
$color-feedback-success: #2E945D;
$color-feedback-warning: #E79C29;

$color-text: $color-neutral-100;
$color-border: $color-neutral-50;
$color-bg-accent: $color-neutral-20;
$color-bg-body: #2C3154;

$color-primary: $velvet;
$color-accent: $dark-jungle;

$color-quiz: $american-blue;
$color-quiz-accent: $slate-blue;

// Base Fonts
// $font-base: 'VictorMono', Helvetica, ui-sans-serif;
// $font-base-italic: 'VictorMonoItalic', Helvetica, ui-sans-serif;

$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Texts
$text-title-big: 2.5rem;
$text-title-small: 1.5rem;
$text-h1: 2rem;
$text-h2: 1.5rem;
$text-h3: 1.12rem;
$text-paragraph: 1rem;
$text-card: 0.88rem;

// Breaqkpoints
$phone: 720px;
$tablet: 1024px;
$desktop: 1200px;

// Legacy
$xs: 320px;
$sm: 440px;
$md: 768px;
$lg: 1024px;
$xl: 1248px;
$xxl: 1400px;