:root {
	--spacing-01: .125rem;
	--spacing-02: .25rem;
	--spacing-03: .5rem;
	--spacing-04: .75rem;
	--spacing-05: 1rem;
	--spacing-06: 1.5rem;
	--spacing-07: 2rem;
	--spacing-08: 2.5rem;
	--spacing-09: 3rem;
	--spacing-10: 4rem;
	--spacing-11: 5rem;
	--spacing-12: 6rem;
	--spacing-13: 10rem;
	--gap: var(--spacing-06);
	--base-gap: 20px;
	--button-padding: .4em .8em;
	--box-padding: 1rem;
	--space-after: 2rem;
	--max-viewport: 65rem;
	--font-brand: "Orbitron Variable", system-ui, sans-serif;
	--letter-spacing: .3px;
	--small: .833rem;
	--x-small: min(.75rem, 12px);
	--radius: 12px;
	--radius-sm: 2px;
	--border-color: hsl(0deg 0% 50% / 45%);
	--white: #fff;
	--black: #060606;
	--text-muted: #cbcbcb;
	--dimmed: #333;
	--success: oklch(100% .4 150deg);
	--error: oklch(100% .4 21deg);
	--warning: rgb(255 165 0);


	--active-button-text-color: color-mix(in oklch, var(--base-color) 25%, var(--element));
	--active-button-text-shadow: 0 0 .5px color-mix(in oklch, var(--base-color) 55%, var(--element));
	--bg: linear-gradient(to bottom in oklab, hsl(248deg 11% 25%), hsl(248deg 11% 1%));
	--border: hsl(248deg 11% 35%);
	--button-active-shadow: 0 1px 1px rgb(255 255 255 / 32.8%);
	--button-active: linear-gradient(to bottom, hsl(30deg 2% 25%), hsl(0deg 0% 25%));
	--button-background-color-active: hsl(248deg 11% 78%);
	--button-background-color: hsl(248deg 11% 80%);
	--button-background: linear-gradient(to bottom, hsl(248deg 11% 15%), hsl(248deg 11% 15%));
	--button-container: var(--black);
	--button-dark-shadow-color: hsl(248deg 11% 5%);
	--button-light-shadow-color: hsl(248deg 11% 95%);
	--button-rim: linear-gradient(to bottom, var(--black), var(--white));
	--button-shadow: inset 0 1px 1px rgb(255 255 255 / 32.8%), inset 0 -1px 1px rgb(0 0 0 / 83.3%), var(--shadow-elevation-high);
	--element-dim: hsl(248deg 11% 70% / 60%);
	--element: hsl(248deg 11% 85%);
	--icon-element: linear-gradient(to bottom, hsl(0deg 0% 5%), #e3e0dc, hsl(0deg 0% 5%));
	--icon-gradient-center: hsl(0deg 0% 59%);
	--icon-gradient-top: hsl(260deg 5% 89%);
	--inverse-button-background: linear-gradient(to bottom, hsl(0deg 0% 85%), hsl(248deg 11% 75%));
	--inverse-element: var(--white);
	--knob-background: linear-gradient(hsl(248deg 11% 20%), hsl(248deg 11% 12%));
	--knob-indicator-background: var(--white);
	--knob-inner-background: linear-gradient(hsl(248deg 11% 20%), hsl(248deg 11% 16%));
	--knob-inner-shadow: 0 -1px 0 1px hsl(248deg 11% 35%), 0 2px 2px hsl(0deg 0% 0% / 35%), var(--shadow-elevation-high);
	--knob-shadow: 0 -1px 0 1px hsl(248deg 11% 33%), 0 2px 2px hsl(0deg 0% 0% / 35%);
	--manual-bg: hsl(247deg 12.4% 1.43%);
	--manual-border: hsl(247deg 4.55% 18.6%);
	--manual-element: hsl(246deg 4.43% 87.4%);
	--manual-paper: hsl(247deg 5.2% 7.15%);
	--paper: hsl(248deg 03% 15%);
	--shadow-color: 0 2% 5%;
	--shadow-elevation-high: 0px .5px .6px hsl(var(--shadow-color) / 34%), 0px 2.9px 3.3px -.4px hsl(var(--shadow-color) / 34%), 0px 5.5px 6.2px -.7px hsl(var(--shadow-color) / 34%), -.1px 9px 10.1px -1.1px hsl(var(--shadow-color) / 34%), -.1px 14.4px 16.2px -1.4px hsl(var(--shadow-color) / 34%), -.2px 22.5px 25.3px -1.8px hsl(var(--shadow-color) / 34%), -.2px 34.2px 38.5px -2.1px hsl(var(--shadow-color) / 34%), -.4px 50.4px 56.7px -2.5px hsl(var(--shadow-color) / 34%);
	--shadow-md: .3px .5px .7px var(--shadow-color), .8px 1.6px 2px -.8px var(--shadow-color), 2.1px 4.1px 5.2px -1.7px var(--shadow-color), 5px 10px 12.6px -2.5px var(--shadow-color);
	--shadow-sm: .3px .5px .7px var(--shadow-color), .4px .8px 1px -1.2px var(--shadow-color), 1px 2px 2.5px -2.5px var(--shadow-color);
	--slider-border-color: rgb(83 83 83);
	--slider-shadow-color: 40deg 2% 44%;
	--slider-shadow: #00000068;
	--synth-body: linear-gradient(to bottom in oklab, hsl(248deg 11% 15%), hsl(248deg 11% 10%));

	// legacy
	--primary: #ada9ff;
	--primaryDark: #8a85c3;
	--accent: #efc442;
	--accentDark: #d89641;
	--bg: #f7f7fa;
	--bgPrimary: #f0f0f5;
	--border: #e0e7ff;
	--inputBg: #f0f0f5;
	--textColor: #222;
	--textMuted: #6b7280;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #5457e0;
		--primaryDark: #3730a3;
		--accent: #f1a863;
		--accentDark: #d89641;
		--bg: #1E1E2E;
		--bgPrimary: #313244;
		--border: #27272a;
		--inputBg: #27272a;
		--textColor: #fff;
		--textMuted: #9ca3af;
	}
}

// Colors
$red: #FF2842;
$velvet: #5153ED;
$dark-jungle: #101828;
$american-blue: #3E3E7D;
$slate-blue: #7F56D9;

$color-neutral-100: #2E303F;
$color-neutral-90: #424242;
$color-neutral-80: #616161;
$color-neutral-70: #757575;
$color-neutral-60: #9E9E9E;
$color-neutral-50: #C2C2C2;
$color-neutral-40: #E0E0E0;
$color-neutral-30: #EDEDED;
$color-neutral-20: #F9F9F9;
$color-neutral-10: #FFFFFF;

$gradient-vertical: linear-gradient(180deg, #FF2301 0%, #FF9F84 50%, #FFB02F 75%, #2A41EA 100%);
$gradient-horizontal: linear-gradient(270deg, rgba(132, 20, 167, 0.7) 0%, rgba(84, 84, 237, 0.7) 45.5%, rgba(219, 160, 22, 0.7) 75%, rgba(255, 43, 121, 0.7) 100%);

$color-feedback-error: #F55400;
$color-feedback-success: #2E945D;
$color-feedback-warning: #E79C29;

$color-text: $color-neutral-100;
$color-border: $color-neutral-50;
$color-bg-accent: $color-neutral-20;
$color-bg-body: #2C3154;

$color-primary: $velvet;
$color-accent: $dark-jungle;

$color-quiz: $american-blue;
$color-quiz-accent: $slate-blue;

// Base Fonts
// $font-base: 'VictorMono', Helvetica, ui-sans-serif;
// $font-base-italic: 'VictorMonoItalic', Helvetica, ui-sans-serif;

$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Texts
$text-title-big: 2.5rem;
$text-title-small: 1.5rem;
$text-h1: 2rem;
$text-h2: 1.5rem;
$text-h3: 1.12rem;
$text-paragraph: 1rem;
$text-card: 0.88rem;

// Breaqkpoints
$phone: 720px;
$tablet: 1024px;
$desktop: 1200px;

// Legacy
$xs: 320px;
$sm: 440px;
$md: 768px;
$lg: 1024px;
$xl: 1248px;
$xxl: 1400px;