.songs {
	display: flex;
	flex-direction: column;
	min-height: 0;
	max-height: 100%;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;

		h2 {
			font-size: 1rem;
			margin: 0;
		}

		.btn {
			margin-left: auto;
		}
	}

	&__list {
		list-style: none;
		padding: 0;

		.song {
			display: flex;
			align-items: center;
			gap: 1rem;
			background: var(--bgPrimary);
			border-radius: 0.5rem;
			padding: 0.5rem;
			margin-bottom: 0.25rem;

			&__cover {
				width: 3rem;
				height: 3rem;
				border-radius: 0.25rem;
				object-fit: cover;
				display: flex;
				align-items: center;
				justify-content: center;
				background: var(--bgPrimary);
				color: var(--bg);
			}

			&__info {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 0rem;
			}

			&__title {
				margin: 0;
			}

			&__metadata {
				opacity: 0.7;
			}

			&__actions {
				display: flex;
				gap: 8px;
				margin-left: auto;

				.btn {
					background-color: transparent;
					padding: 0.5rem;
				}
			}
		}

		.btn {
			margin-left: auto;
		}
	}
}