@use '../abstracts' as *;

.template-course {
  background-image: url('../images/course-bg-mobile.webp');
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;

  @media (width < $tablet) {
    padding-top: 8rem;
  }

  @media (width < $phone) {
    padding-top: 6rem;
  }

  @media (width > $tablet) {
    background-image: url('../images/course-bg.webp');
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar content";
    grid-template-columns: 27.5rem calc(100% - 27.5rem);
    grid-template-rows: 7.5rem calc(100vh - 7.5rem);
    height: 100vh;
    overflow: hidden;
  }

  .page-header {
    grid-area: header;
    height: 7.5rem;
    padding: 2rem 2.5rem;

    @media (width < $phone) {
      padding-block: 1.5rem;
      height: unset;
    }

    @media (width > $tablet) {
      padding: 2.625rem 3.75rem 2rem;
    }
  }

  .btn-toggle {
    color: $color-neutral-10;

    .line-top,
    .line-middle,
    .line-bottom {
      transition: all 250ms ease-in-out;
      transform-origin: center;
    }

    &.active {
      .line-top {
        transform: translateY(3px) translateX(-4px) rotate(45deg);
      }

      .line-middle {
        transform: translateY(-3px) translateX(2px) rotate(-45deg);
      }

      .line-bottom {
        opacity: 0;
      }
    }
  }

  .page-content,
  .page-sidebar {

    @media (width < $phone) {
      position: fixed;
    }

    &.boxed {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 0;
    }
  }

  .boxed-inner {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba($color-primary, .66) transparent;
    scrollbar-width: thin;
  }

  .page-content {
    grid-area: content;
    position: relative;
    z-index: 1;

    .boxed-inner {
      padding: 4rem calc(4rem + 3.75rem) 4rem 4rem;

      @media (width <=$tablet) {
        padding: 5rem 2.5rem;
      }

      @media (width <=$phone) {
        padding: 5rem 1.5rem;
      }
    }

    .course-content {
      position: relative;
      z-index: 1;
    }

    .page-footer {
      position: relative;
      z-index: 0;
      margin: -10rem -4rem -5rem -4rem;
    }

    .carousel {
      @media (width >=$phone) {
        margin: 0 4rem;
      }
    }
  }
}