@use '../abstracts' as *;

$player: 20dvh;
$queue: 33dvh;
$library: calc(47dvh - 2rem);

.container {
	max-width: 640px;
	margin: 0 auto;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&>* {
		border: 1px solid #313244;
		padding: 0.5rem;
		position: relative;
	}

	&__player {
		height: $player;
		overflow-y: auto;
	}

	&__queue {
		height: $queue;
		overflow-y: auto;
	}

	&__library {
		height: $library;
		overflow-y: auto;
	}
}