@use '../abstracts' as *;

$player: 220px;
$queue: 25vh;

.container {
	min-width: 640px;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: $player $queue 1fr;
	grid-template-areas: "player" "queue" "library";
	gap: 0.5rem;
	height: 100vh;

	&>* {
		border: 1px solid var(--border);
		position: relative;
		overflow: hidden;
	}

	&__player {
		grid-area: player;
		height: $player;
		flex: 0 0 $player;
	}

	&__queue {
		grid-area: queue;
		height: $queue;
		flex: 0 0 $queue;

		&::after {
			content: '';
			height: 3rem;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			pointer-events: none;
		}
	}

	&__library {
		grid-area: library;
		flex: 1;
		display: flex;
		flex-direction: column;
		min-height: 0;

		&::after {
			content: '';
			height: 3rem;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			pointer-events: none;
		}
	}
}

.library {
	max-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 1;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		border-bottom: 1px solid var(--border);
	}

	&__body {
		flex: 1;
		min-height: 0;
		height: 100%;
		margin: 0;
		overflow: hidden; // Let Virtuoso handle scrolling

		&>* {
			height: 100%;
			animation: fadeIn 0.3s ease-out;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (min-width: 1280px) {
	$player: 220px;

	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: $player 1fr;
		grid-template-areas: 'player library' 'queue library';

		&__player {}

		&__queue {
			height: 100%;
		}

		&__library {}
	}
}

@media (min-width: 960px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: $player 1fr;
		grid-template-areas: 'player library' 'queue library';

		&__player {}

		&__queue {
			height: 100%;
		}

		&__library {}
	}
}