@use '../abstracts' as *;

.page-quiz {
  .section-heading p {
    margin: 0;
  }

  .page-content .boxed-inner {
    @media (width <=$phone) {
      padding-inline: 0 !important;
    }
  }

  .quiz {
    margin-bottom: 6rem;

    &-score {
      position: relative;
      min-height: 300px;
      display: none;
      flex-direction: column;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-image: url('../images/quiz-bg.webp');
        z-index: 0;
      }

      &.final {

        &::before {
          transform: scaleY(-1);
          background-size: 100%;

          @media (width < $phone) {
            background-size: 200%;
          }
        }
      }

      .score {
        position: relative;
        display: flex;
        gap: 0.25rem;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        z-index: 1;
        animation: 0.5s fadeInUp ease;

        &:first-of-type::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 2.25rem;
          background-color: $color-text;
          transform: rotate(33deg);
        }

        .hits,
        .total {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          line-height: 1;
          text-align: center;
          position: relative;
          font-family: $font-heading;
          font-variant-numeric: tabular-nums;
          width: 2ch;
        }

        .hits {
          top: -0.5rem;
          color: $color-feedback-success;
        }

        .total {
          top: 0.5rem;
        }
      }

      .legend {
        position: relative;
        z-index: 2;
        top: 0.66em;
        text-align: center;
      }

      .feedback {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1.15rem;
        z-index: 1;
        text-align: center;

        p {
          width: 66%;
          margin: 2rem auto;

          @media (width <=$phone) {
            margin-top: 10rem;
          }
        }

        svg {
          @media (width <=$phone) {
            display: none;
          }
        }
      }

      &.final {
        .score {
          margin: 0;
          top: -1rem;
        }

        .legend {
          top: -0.75em;
        }

        .total {
          font-size: 1.5rem;
        }
      }
    }

    &-menu {
      columns: 2;
      column-gap: 3rem;
      padding-block: clamp(2rem, 5vw, 6rem);

      @media (width <=$phone) {
        columns: 1;
        padding-inline: 1.5rem;
      }

      .quiz-link {
        margin-bottom: 3rem;
        padding-left: 1rem;
        border-left: 1px solid $color-quiz;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        break-inside: avoid;

        &:first-child,
        &:last-child {
          display: none;
        }

        &-actions {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: auto;
        }

        .hits,
        .mistakes {
          display: none;
          justify-content: center;
          align-items: center;
          line-height: 1.416;
          text-align: center;
          position: relative;
          color: $color-neutral-10;
          padding: 0.75rem;
          border-radius: 0.25rem;
          width: 2.875rem;
          aspect-ratio: 1;
          font-weight: 600;
        }

        .hits {
          background-color: $color-feedback-success;
        }

        .mistakes {
          background-color: $color-feedback-error;
        }
      }
    }
  }

  &:not(.summary) {

    .section-subtitle,
    .reset,
    #quiz_score {
      display: none;
    }
  }

  // Resultados visibles
  &.summary {

    .instructions {
      display: none;
    }

    .quiz-score {
      display: flex;
    }

    .section-subtitle {
      display: block;
    }

    #quiz_score {
      opacity: 0;
      transform: translateY(25%);
      transition: all ease-out 250ms;

      &.show {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .quiz-link-actions {

      .hits:empty,
      .mistakes:empty {
        opacity: 0;
      }

      .hits,
      .mistakes {

        transform: scale(0);

        &.show {
          display: flex;
          transform: scale(1);
          transition: all cubic-bezier(0.7, -0.5, 0.2, 1.7) 0.4s 1.1s;
        }
      }

      .mistakes {
        &.show {
          transition-delay: 1.2s;
        }
      }
    }

    #quiz_feedback {
      transform: scale(1);
    }
  }
}