@use '../abstracts' as *;

.btn {
	background: transparent;
	color: var(--textColor);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 0.5rem;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	&:hover {
		color: var(--accent);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.active {
		color: var(--accent);
	}

	&--secondary {
		opacity: 0.5;
	}

	&--lg {
		font-size: 1.25rem;
		padding: 0.75rem;
	}
}