@use '../abstracts' as *;

.btn {
	background: transparent;
	color: var(--accent);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 0.5rem;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	gap: 0.5rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--x-small);
	text-transform: uppercase;

	&:hover {
		color: var(--accent);
		background-color: rgba(255, 255, 255, 0.05);
	}

	&:disabled {
		color: unset !important;
		cursor: not-allowed;

		svg {
			opacity: 0.2;
		}
	}

	&.active {
		color: var(--accent);
	}

	&--ghost {
		padding: 0;
		width: 1rem;
		height: 1rem;
	}
}