@use '../abstracts' as *;

.btn {
	background: transparent;
	color: var(--textColor);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 0.5rem;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	gap: 0.5rem;

	&:hover {
		color: var(--accent);
	}

	&:disabled {
		color: unset !important;
		cursor: not-allowed;

		svg {
			opacity: 0.2;
		}
	}

	&.active {
		color: var(--accent);
	}

	&--ghost {
		padding: 0;
		width: 1rem;
		height: 1rem;
	}
}