@use '../abstracts' as *;

.btn-holder {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 40px;
	height: 40px;
	background-color: var(--button-container);
	border: 2px solid transparent;
	border-radius: 1px;
	box-shadow: none;
	border-radius: 8px;

	&--big {
		height: 64px;
		width: 64px;
		border-radius: 50%;
	}
}

.btn {
	// background: transparent;
	// color: var(--textColor);
	// border-width: 1px;
	// border-style: solid;
	// border-color: transparent;
	// padding: 0.5rem;
	// font-size: 1rem;
	// transition: all 0.2s ease-in-out;
	// display: inline-flex;
	// align-items: center;
	// justify-content: center;
	// line-height: 1;
	// gap: 0.5rem;

	padding: 0;
	font-family: inherit;
	cursor: pointer;
	background: none;
	background-image: none;
	border: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: var(--x-small);
	color: var(--element);
	text-transform: uppercase;
	background-image: var(--button-background);
	border-radius: 6px;
	box-shadow: var(--button-shadow);

	&:hover {
		color: var(--accent);
	}

	&:disabled {
		cursor: not-allowed;

		svg {
			opacity: 0.2;
		}
	}

	&.active {
		color: var(--accent);

		box-shadow: inset 0 1px 5px #000000e2;
		filter: brightness(.9);
		translate: 0 .5px;

	}

	&--lg {
		font-size: 1.25rem;
		padding: 0.75rem;
	}
}