@use '../abstracts' as *;

.cards {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  margin-block: 4rem;

  &.cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <=$phone) {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 0;
  }

  &.sum {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 5rem;

    &::before {
      content: '';
      background-image: url("../images/splash.webp");
      width: 712px;
      height: 540px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      mix-blend-mode: multiply;
    }

    .card {
      text-align: center;
      flex: 1;
      z-index: 1;
      min-width: unset;
      align-self: stretch;

      @media (width <=$phone) {
        width: 100%;
      }

      &+span {
        font-family: $font-bold;
        font-size: $text-title-big;
        z-index: 2;
      }
    }
  }

  &-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    justify-content: stretch;
    align-items: stretch;

    @media (width >=$phone) {
      justify-content: center;
    }

    .card {
      flex: 1 1 33%;

      @media (width >=$phone) {
        flex: 0 0 calc(33% - 1.5rem);

        &:nth-last-of-type(-n+2),
        &:nth-child(-n+3) {
          flex-basis: 33%;
          width: 0;
        }
      }
    }


  }
}

.card {
  flex: 1;
  background-color: $color-neutral-10;
  border: 1px solid $color-border;
  min-width: 14rem;
  font-size: $text-card;
  font-family: $font-heading;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  transition: opacity 250ms ease-in-out;

  &-header {
    background-image:
      url('../images/card-header.webp');
    background-position-y: top;
    background-position-x: left -2rem;
    background-repeat: no-repeat;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.arrow {
      background-image:
        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgMTJIMjBNMjAgMTJMMTQgNk0yMCAxMkwxNCAxOCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg=="),
        url('../images/card-header.webp');
      background-position-y: center, top;
      background-position-x: 92%, left;
      background-repeat: no-repeat, no-repeat;
    }
  }

  &-title {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 23px;
    color: $color-neutral-10;
    text-transform: uppercase;
    position: relative;
  }

  &-body {
    font-family: $font-heading;
    font-size: $text-card;
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    &.center {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      justify-content: flex-end;

      p {
        margin: 0;
      }
    }

    .logo {
      max-height: 3rem;
    }

    .row {
      margin: -1.5rem;

      .col {
        padding: 1.5rem;
        display: flex;
        align-items: center;
      }

      .col+.col {
        border-left: 1px solid $color-neutral-50;

        @media (width <=$phone) {
          border-left: 0;
          border-top: 1px solid $color-neutral-50;
        }
      }
    }


    .label {
      line-height: 1.5;
      text-align: center;
    }

    .icon {
      width: 4rem;
    }

    .image {
      width: auto;
      height: 6rem;
    }
  }

  &-footer {
    background-image:
      url('../images/card-footer.webp');
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: $color-neutral-10;
    position: relative;

    .btn {
      padding: 1.5rem;
      width: 100%;
      justify-content: flex-start;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-list {
    .card-body {
      padding-top: 3rem;
      gap: 1rem;

      img {
        margin: 0 auto 1rem;
      }
    }

    .card-subtitle {
      text-transform: uppercase;
      margin-block: 0;
    }
  }
}