@use '../abstracts' as *;

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 2.625rem 4rem;

  @media (max-width: $tablet) {
    padding: 2rem 2.5rem;
  }

  .brand {
    width: 3.25rem;
    height: auto;
  }

  .btn-toggle {
    @media (width > $tablet) {
      display: none;
    }
  }
}

.template-course {
  .page-header {
    @media (width < $tablet) {
      background-image: url('../images/course-bg-mobile.webp');
      background-position: top left;
      background-repeat: no-repeat;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: z('site-nav')
    }
  }
}