@use '../abstracts' as *;

.image-description {
  margin-top: 3rem;

  .btn {
    position: relative;

    &::after {
      content: '';
      border-width: .4rem;
      border-style: solid;
      border-color: $color-neutral-10 transparent transparent transparent;
      position: relative;
      top: .2rem;
      transform: rotate(0);
      transform-origin: 50% .2rem;
      transition: .25s transform ease;
    }
  }

  &-details {
    overflow: hidden;
    max-height: 8rem;
    display: block;
    transition: max-height 500ms ease-in-out;

    &[open] {
      max-height: 500rem;

      &>.btn::after {
        transform: rotate(180deg);
      }
    }
  }

  &-content {
    margin-top: 3rem;

    h2:not([class]) {
      padding: 0;
      border: none;
    }
  }
}