@use '../abstracts' as *;

.popover {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 300px;
  display: none;

  &[aria-hidden="false"] {
    display: block;
  }

  button {
    margin-top: 1rem;
  }
}