@use '../abstracts' as *;

.tabs {
	display: flex;
	flex: 1;
	gap: 0;
	height: 100%;
	min-height: 30px;

	&__button {
		background: transparent;
		color: var(--textColor);
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		padding: 0.5rem 2rem;
		transition: all 0.2s ease-in-out;
		line-height: 1;
		gap: 0.5rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: min(.75rem, 12px);
		text-transform: uppercase;
		height: 100%;
		min-width: 120px;

		&:hover {
			opacity: 0.8;
			background-color: rgba(0, 0, 0, 0.05);
		}

		&.active {
			color: var(--accent);
			border-bottom-color: var(--accent);
		}
	}
}