.search {
	input {
		background: rgba(0, 0, 0, 0.25);
		color: var(--textColor);
		border: 1px solid var(--border);
		border-radius: 0.25rem;
		width: 100%;
		min-width: 20rem;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		transition: border 0.2s;

		&:focus {
			outline: none;
			border-color: var(--accent);
		}
	}
}