.search {
	input {
		background: rgba(0, 0, 0, 0.15);
		color: var(--textColor);
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: var(--border);
		width: 100%;
		min-width: 20rem;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		transition: border 0.2s;

		&:focus {
			outline: none;
			border-color: var(--accent);
		}
	}
}