.search {
	margin-bottom: 1rem;
}

input[type="search"] {
	background: var(--bgPrimary);
	color: var(--textColor);
	border: 1px solid var(--border);
	border-radius: 0.25rem;
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	transition: border 0.2s;

	&:focus {
		outline: none;
		border-color: var(--primary);
	}
}